/*estilos index*/
/*estilos de header*/
/*RESET*/
.MS .degrade2 {
  background-image: linear-gradient(#D1AF8B, #515150);
}
.MS .degrade2 p {
  text-align: center;
}
.MS .degrade2 p div #imgSec1, .MS .degrade2 p div #imgSec2, .MS .degrade2 p div #imgSec3, .MS .degrade2 p div #imgSec4, .MS .degrade2 p div #imgSec5, .MS .degrade2 p div #imgSec6 {
  border-radius: 15px;
}
.MS .fotoSahumerio1, .MS .fotoSahumerio2, .MS .fotoSahumerio3, .MS .fotoSahumerio4, .MS .fotoSahumerio5, .MS .fotoSahumerio6 {
  border-top: 1px solid #7C7C7C;
  border-left: 1px solid #7C7C7C;
  border-right: 1px solid #7C7C7C;
  border-bottom: 1px solid #7C7C7C;
  border-radius: 15px;
}
.MS .gridMS {
  margin-left: 5px;
  margin-right: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 50% 50%;
  align-items: center;
  gap: 15px;
}
.MS .video {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.MS .video .video1 {
  width: 50%;
  height: 20%;
}
.MS h2 {
  text-align: center;
  color: #FAF5E8;
}

main {
  margin-top: 40px;
}
main div {
  text-align: center;
}
main div p {
  margin-top: 30px;
}
main div .fotoCeo {
  width: 300px;
  height: 100%;
  box-shadow: 20px 20px 20px black;
  transition: 3s;
  animation: animacion 1s ease-in 5s infinite;
}
main div .fotoCeo:hover {
  transform: scale(1);
  border-radius: 100%;
  background-size: cover;
}

main form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 400px;
}
main form fieldset {
  background-image: linear-gradient(#D1AF8B, #515150);
  border-radius: 15px;
  box-shadow: 20px 20px 20px;
}
main form fieldset div {
  padding: 5px;
  border-radius: 15px;
}

main div .iframe {
  display: flex;
  justify-content: center;
}
main div .pU {
  background-color: #C2C4C3;
  border-radius: 10px;
}
main div iframe {
  width: 70%;
  height: 70%;
  box-shadow: 20px 20px 20px;
}

/*estilos de tablet mq tablet*/
@media screen and (min-width: 768px) {
  body {
    font-size: 30px;
  }
  .mainCeo {
    margin-top: 20px;
  }
  .formulario form {
    height: 500px;
  }
  .formulario form fieldset {
    padding: 20px;
  }
  .formulario form fieldset legend {
    font-size: 30px;
  }
  main .iframe {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }
  main .slider {
    width: 25%;
  }
  main .slider ul {
    width: 25%;
    margin: 0px;
  }
  main .slider ul li {
    width: 25%;
    height: 25%;
  }
  main .slider ul li img {
    width: 50%;
    height: 100%;
  }
  main .slider ul li .img-tres {
    height: 600px;
  }
  main .grid {
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 25%);
    gap: 200px;
  }
  main .grid .pic1, main .grid .pic2, main .grid .pic3, main .grid .pic4, main .grid .pic5, main .grid .pic6 {
    margin-top: auto;
    width: 100%;
    grid-column: span 1;
  }
  .gridMS {
    margin-top: 50px;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
  }
  .gridMS .fotoSahumerio1, .gridMS .fotoSahumerio2, .gridMS .fotoSahumerio3, .gridMS .fotoSahumerio4, .gridMS .fotoSahumerio5, .gridMS .fotoSahumerio6 {
    width: 50%;
  }
  #wts {
    width: 5%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF9EC;
}

.navbar-nav .nav-link {
  color: #7C7C7C;
}
.navbar-nav .nav-link .dropdown:active {
  background-color: #020202;
}
.navbar-nav .nav-link:hover {
  color: #d2ab20;
}

/*estilos de mobile*/
.LMS {
  text-align: center;
  background-color: #9D7B54;
  color: black;
}

main {
  margin-top: 0px;
}
main .text1 {
  background-color: #020202;
  border-top: 1px solid #FFFFFF;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}
main .text2 {
  background-color: #020202;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  margin-top: 0px;
}
main div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .slider {
  width: 95%;
  margin: auto;
  overflow: hidden;
}
main .slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 10s infinite alternate linear;
}
main .slider li {
  width: 100%;
  list-style: none;
}
main .slider img {
  width: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.grid {
  margin-left: 5px;
  margin-right: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 50% 50%;
  align-items: center;
  gap: 15px;
}

.pic1, .pic2, .pic3, .pic4, .pic5, .pic6 {
  border-top: 1px solid #7C7C7C;
  border-left: 1px solid #7C7C7C;
  border-right: 1px solid #7C7C7C;
  border-bottom: 1px solid #7C7C7C;
  border-radius: 15px;
}

div #img1, div #img2, div #img3, div #img4, div #img5, div #img6 {
  border-radius: 15px;
}

.degrade {
  margin-top: 10px;
  background-image: linear-gradient(#9D7B54, #FFF9EC);
}
.degrade p {
  text-align: center;
}
.degrade div div p {
  text-align: center;
}

section {
  background-color: black;
  text-align: center;
  border: 2px solid black;
  color: white;
}

picture a img {
  position: fixed;
  width: 10%;
  bottom: 20px;
  right: 20px;
  border-radius: 15px;
}

footer {
  margin-top: 50px;
  color: whitesmoke;
  text-align: center;
}
footer div {
  color: black;
}
footer .colorFooter {
  background-color: #FFF9EC;
}
footer .btn-azul:hover {
  background-color: white;
  color: #8011f2;
  border: 2px solid #8011f2;
}
footer .bi-icon:hover {
  color: #8011f2;
}

/*# sourceMappingURL=style.css.map */
