main{
    form{
            margin-top: 20px;
            @include flex;
            text-align: center;
            height: 400px;
            
        fieldset{
                
                background-image: linear-gradient(#D1AF8B, #515150); 
                @include bordesin;
                box-shadow: 20px 20px 20px ;
                 div{
                    
                    padding: 5px;
                    @include bordesin;
                }
            
        }
    }
}