/*estilos de tablet mq tablet*/

@media screen and (min-width: 768px){
    body{
        font-size: 30px;
    }

    .mainCeo{
        margin-top: 20px;
    }
    .formulario{
        form{
            height: 500px;
            fieldset{
                padding: 20px;
                legend{
                    font-size: 30px;
                }
            }
        }
    }
    
    main{
        .iframe{
            
                margin-top: 30px;
            
        }
    }
}

@media screen and (min-width: 1024px){
    body{
        font-size: 20px;
    }
    
    main{
        
        .slider{
            
            width: 25%;
            ul{
                width: 25%;
                margin: 0px;
                li{
                    width: 25%;
                    height: 25%;
                    img{
                        width: 50%;
                        height: 100%;
                        
                    }
                    .img-tres{
                        height: 600px;
                    }
                }
            }
        }
        
        .grid{
                margin-top: 50px;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 25%);
                gap: 200px;
                
                    .pic1, .pic2, .pic3, .pic8, .pic5, .pic7{
                        margin-top: auto;
                        width: 100%;
                        grid-column: span 1;
                        display: block;
                    }
                    #img7, #img8{
                        display: block;
                    }
                    .pic4,.pic6{
                        display: none;
                    }
                    #img4, #img6{
                        display: none;
                    }
                    
                        #img1, #img2, #img3, #img5, #img7, #img8{
                            @include bordesin;
                        }
                    
            }
        
        
    } 
        #imgSec1,#imgSec2,#imgSec3,#imgSec4,#imgSec5,#imgSec6{
            @include bordesin;
        }
              
        #wts{
        width: 5%;
    }   
}
        




 
    

