
//estilos de la pag sahumerios 
main .MS{
    .degrade2{

        background-image: linear-gradient(#F29F0B,violet, #FAF5E8, red);
            p{
                text-align: center;
                    div{
                        #imgSec1,#imgSec2,#imgSec3,#imgSec4,#imgSec5,#imgSec6{
            
                        border-radius: 15px ;
                        }
                    }
            }
        }
    
        
    
    
    

    
    .fotoSahumerio1,.fotoSahumerio2,.fotoSahumerio3,.fotoSahumerio4,.fotoSahumerio5,.fotoSahumerio6{
        border-top: 1px solid #7C7C7C;
        border-left: 1px solid #7C7C7C;
        border-right: 1px solid #7C7C7C;
        border-bottom: 1px solid #7C7C7C ;
        border-radius: 15px ;
    }

    .gridMS{
        margin-left: 5px;
        margin-right: 20px;
        margin-top: 20px;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 50% 50%;
        align-items: center;
        gap: 15px;
       
    }

    .video{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        .video1{
            width: 50%;
            height: 20%;
        }
    }
   
    h2{
        text-align: center;
        color: #FAF5E8;
     }
    
}